In [1]:
import numpy as np
import pandas as pd

In [37]:
f1={'Ds':[50,40,50],'oop':[20,30,40],'java':[50,40,80]}

In [38]:
df1=pd.DataFrame(f1)

In [39]:
df1

   Ds  oop  java
0  50   20    50
1  40   30    40
2  50   40    80

In [5]:
df1['oop'].max()

40

In [6]:
df1['oop'].min()

20

In [9]:
df1['oop'].mean()

30.0

In [40]:
df1['Ds'].mode()

0    50
dtype: int64

In [41]:
df1.std()

Ds       5.773503
oop     10.000000
java    20.816660
dtype: float64

In [42]:
df1.var()

Ds       33.333333
oop     100.000000
java    433.333333
dtype: float64

In [48]:
df1.iloc[0:1,0:2]

   Ds  oop
0  50   20

In [52]:
df2=pd.DataFrame([[np.NaN,2,3,4],[7,8,np.NaN,10]],columns=["a","b","c","d"])

In [53]:
df2

     a  b    c   d
0  NaN  2  3.0   4
1  7.0  8  NaN  10

In [58]:
df2=df2.fillna(method='ffill')

In [59]:
df2.copy()

     a  b    c   d
0  NaN  2  3.0   4
1  7.0  8  3.0  10

In [60]:
df2

     a  b    c   d
0  NaN  2  3.0   4
1  7.0  8  3.0  10

In [61]:
df2=df2.fillna(method='bfill')

In [62]:
df2.copy()

     a  b    c   d
0  7.0  2  3.0   4
1  7.0  8  3.0  10

In [63]:
df2

     a  b    c   d
0  7.0  2  3.0   4
1  7.0  8  3.0  10

In [64]:
df3=pd.DataFrame([[np.NaN,2,3,4],[7,8,np.NaN,10]],columns=["a","b","c","d"])

In [67]:
df3.dropna(inplace=True)

In [68]:
df3

Empty DataFrame
Columns: [a, b, c, d]
Index: []