In [13]:
import pandas as pd
import numpy as np

Q1

In [2]:
dl={'Subject':['oop','python','DS'],'semester':['3rd','4th','5th']}

In [3]:
pd.DataFrame(dl)

  Subject semester
0     oop      3rd
1  python      4th
2      DS      5th

Q2

In [5]:
dd={'Subject':{'oop':{'3rd':2020},'java':{'5th':2019}}}

In [6]:
pd.DataFrame(dd)

            Subject
java  {'5th': 2019}
oop   {'3rd': 2020}

Q3

In [7]:
ds1=pd.Series(["oop","java","ds"],index=[2021,2020,2019])

In [8]:
ds2=pd.Series(["3rd","4th","5th"],index=[2021,2020,2019])

In [11]:
ds={"subject":ds1,"semester":ds2}

In [12]:
pd.DataFrame(ds)

     semester subject
2021      3rd     oop
2020      4th    java
2019      5th      ds

Q4

In [19]:
arr1=np.arange(5)

In [20]:
dd1={"year":arr1}

In [21]:
pd.DataFrame(dd1)

   year
0     0
1     1
2     2
3     3
4     4